
.idea

.settings
.buildpath
.DS_Store

# IDE Files
#-------------------------
/nbproject/
.idea/*
/.idea/
.project/*
.project
## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

/venv